<h3>Shoe Brands</h3>

<form action="/shoes" method="post">
  <div class="form-group">
    <label for="brand"><h3>Please enter the shoe brand name.</h3></label>
    <input id="brand" name="brand" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="price"><h3>Please enter shoe brand's cost to the nearest whole dollar.</h3></label>
    <input id="price" name="price" class="form-control" aria-label="Amount (to the nearest dollar)">
  </div>
  <button type="submit" class="btn btn-info">Add shoe</button>
</form>

<% if @shoes.any?() %>
  <ul>
  <% @shoes.each() do |shoe| %>
    <h3><li><%= shoe.brand() %>: $<%= shoe.price %></li></h3>
  <% end %>
    </ul>
  <% else %>
    <h3>No shoe brands at the moment!</h3>
<% end %>
<hr>
<h3><a href="/">Return to the home page.</a></h3>
