<h3>Oh, oh!  Your shoe is losing it's sole.  There appears to be an error!</h3>
  <ul>
  <% @shoe.errors().full_messages().each() do |message| %>
    <h4><li><%= message %></li></h4>
  <% end %>
  </ul>
<hr>
<h3><a href="/">Return to the home page and try again.</a></h3>
